body {
  background: white;
  font-family: Arial, sans-serif;
  margin-top: 5vh;
}

.navbar {
  height: 5vw;
  box-shadow: 0px 10px 10px 0.5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .navbar {
    height: 10vh;
  }
}
@media (min-width: 600px) and (max-width: 1100.98px) {
  .navbar {
    height: 10vh;
  }
}
.navbar .btn {
  white-space: nowrap;
  padding: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 1vw;
  font-size: 17px;
  box-shadow: 0px 10px 10px 0.5px rgba(0, 0, 0, 0.1);
  background-color: #ff5634;
  box-shadow: 0px 10px 10px 0.5px rgba(0, 0, 0, 0.1);
}
.navbar .btn:nth-child(2) {
  border: 1px solid transparent;
  background-color: transparent;
}
.navbar .btn:nth-child(2):hover {
  background-color: #ff5634;
  color: white;
}
.navbar li {
  font-weight: 500;
  font-size: 17px;
  margin-left: 2.3vh;
}
@media (max-width: 767px) {
  .navbar .collapse {
    width: 100vw;
    padding-left: 2vh;
    margin-left: -15px;
    padding-bottom: 15px;
    background-color: white;
  }
}
@media (min-width: 600px) and (max-width: 1100.98px) {
  .navbar .collapse {
    width: 100vw;
    padding-left: 2vh;
    margin-left: -15px;
    padding-bottom: 15px;
    background-color: white;
  }
}
.navbar .active {
  color: #ff5634;
}

.hero-section {
  margin-top: 5vw;
}
.hero-section .col {
  display: flex;
  flex-direction: column;
}
.hero-section .col-content {
  margin-top: auto;
  margin-bottom: auto;
  text-align: start;
}
@media (max-width: 767px) {
  .hero-section .col-content {
    text-align: center;
    margin-top: 2vh;
  }
}
.hero-section h1 {
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 700;
}
.hero-section h6 {
  font-size: 17px;
  line-height: 1.5;
  color: #ff5634;
  font-weight: 700;
}
@media (max-width: 767px) {
  .hero-section h6 {
    margin-top: 5vh;
  }
}
.hero-section p {
  color: #7a7a7a;
  font-weight: 500;
}
.hero-section #hero-img {
  margin-left: 70px;
  width: 520px;
  height: 550px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
@media (max-width: 767px) {
  .hero-section #hero-img {
    margin-left: 0px;
    width: 90vw;
  }
}
@media (min-width: 600px) and (max-width: 1100.98px) {
  .hero-section #hero-img {
    width: 350px;
  }
}
.hero-section #card-img-1 {
  position: absolute;
  height: 270px;
  width: 240px;
  margin-left: 40px;
  margin-top: 220px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0.5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .hero-section #card-img-1 {
    margin-top: 260px;
    width: 170px;
    height: 200px;
    margin-left: 0px;
  }
}
@media (min-width: 600px) and (max-width: 1100.98px) {
  .hero-section #card-img-1 {
    margin-top: 260px;
    width: 170px;
    height: 200px;
    margin-left: 0px;
    border: 2px solid red;
  }
}
.hero-section #card-img-2 {
  position: absolute;
  margin-left: 340px;
  margin-top: 475px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0.5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .hero-section #card-img-2 {
    margin-top: 450px;
    width: 160px;
    height: 70px;
    margin-left: 53vw;
  }
}
@media (min-width: 600px) and (max-width: 1100.98px) {
  .hero-section #card-img-2 {
    margin-top: 480px;
    width: 160px;
    height: 70px;
    margin-left: 260px;
  }
}

.stats {
  padding-top: 10vh;
  overflow: hidden;
  padding-bottom: 10vh;
}
.stats .col {
  text-align: center;
  width: 100%;
}
.stats h1 {
  font-weight: 700;
  font-size: 45px;
  white-space: nowrap;
}
.stats p {
  color: #7a7a7a;
  font-weight: 500;
  font-size: 20px;
  white-space: nowrap;
}

.about-us-section {
  margin-top: 10vw;
}
.about-us-section .col {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.about-us-section .col-content {
  margin: auto;
  text-align: start;
  width: 80%;
}
.about-us-section h1 {
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: 700;
}
.about-us-section h6 {
  font-size: 17px;
  line-height: 1.5;
  color: #ff5634;
  font-weight: 700;
}
.about-us-section p {
  color: #7a7a7a;
  font-weight: 500;
}
.about-us-section img {
  margin: 5vh auto;
  width: auto;
  height: 63vh;
  border-radius: 40px;
}
@media (max-width: 767px) {
  .about-us-section img {
    height: 50vh;
  }
}

.our-mission-section {
  margin-top: 2vw;
  display: flex;
}
@media (max-width: 767px) {
  .our-mission-section {
    flex-direction: column-reverse;
  }
}
.our-mission-section .col {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.our-mission-section .col-content {
  margin: auto;
  text-align: start;
  width: 80%;
}
.our-mission-section h1 {
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: 700;
}
.our-mission-section h6 {
  font-size: 17px;
  line-height: 1.5;
  color: #ff5634;
  font-weight: 700;
}
.our-mission-section p {
  color: #7a7a7a;
  font-weight: 500;
}
.our-mission-section img {
  margin: 5vh auto;
  width: auto;
  height: 63vh;
  border-radius: 40px;
}
@media (max-width: 767px) {
  .our-mission-section img {
    height: 50vh;
  }
}

.our-yourney-section {
  margin-top: 10vw;
}
.our-yourney-section .col {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.our-yourney-section .col-content {
  margin: auto;
  text-align: start;
  width: 80%;
}
.our-yourney-section h1 {
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: 700;
}
.our-yourney-section h6 {
  font-size: 17px;
  line-height: 1.5;
  color: #ff5634;
  font-weight: 700;
}
.our-yourney-section p {
  color: #7a7a7a;
  font-weight: 500;
}
.our-yourney-section .btn {
  border-radius: 15px;
  white-space: nowrap;
  padding: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 17px;
  box-shadow: 0px 10px 10px 0.5px rgba(0, 0, 0, 0.1);
  background-color: #ff5634;
}
.our-yourney-section .fix-element {
  height: 20vw;
  margin-top: 10vh;
  position: relative;
  z-index: 1;
}
.our-yourney-section .scroll-element {
  margin-bottom: 42%;
  margin-top: 5vh;
  z-index: 2;
  background-color: #f5ebeb;
}
.our-yourney-section .scroll-element h1 {
  font-size: 22px;
}
.our-yourney-section .scroll-element .col-content {
  margin-top: 10vh;
  margin-bottom: 3vh;
}

.our-partners-section {
  text-align: center;
  margin-top: -20%;
  background-color: white;
  padding-top: 15vh;
}
.our-partners-section h1 {
  font-size: 27px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .our-partners-section h1 {
    font-size: 25px;
  }
}
.our-partners-section h6 {
  font-size: 17px;
  line-height: 1.5;
  color: #ff5634;
  font-weight: 700;
}
.our-partners-section p {
  color: #7a7a7a;
  font-weight: 500;
}
@media (max-width: 767px) {
  .our-partners-section img {
    width: 15vh;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 1vh;
  }
}
.our-partners-section .row {
  margin-top: 5vh;
}
.our-partners-section .col h1 {
  margin-top: 2.2vh;
  font-size: 30px;
}

.press-news-section {
  text-align: center;
  margin-top: 15vh;
}
.press-news-section h1 {
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
}
.press-news-section h6 {
  font-size: 17px;
  line-height: 1.5;
  color: #ff5634;
  font-weight: 700;
}
.press-news-section img {
  height: 25px;
  margin-right: auto;
  margin-top: 6vh;
  padding-left: 3vh;
  padding-right: 3vh;
}
.press-news-section p {
  color: #7a7a7a;
  font-weight: 500;
}
.press-news-section .col {
  text-align: start;
  padding: 5vh;
}
@media (max-width: 767px) {
  .press-news-section .col {
    padding: 1vh;
  }
}
.press-news-section .col .card {
  border-radius: 30px;
}
.press-news-section .col h1 {
  font-size: 30px;
  padding-left: 3vh;
  padding-right: 3vh;
  margin-top: 5vh;
}
@media (max-width: 767px) {
  .press-news-section .col h1 {
    font-size: 2.3vh;
  }
}
.press-news-section .col h6 {
  font-size: 20px;
  padding-left: 3vh;
  padding-right: 3vh;
}
.press-news-section .col .d-flex {
  margin-top: 3vh;
  font-size: 20px;
  margin-bottom: 4vh;
  padding-right: 3vh;
}
@media (max-width: 767px) {
  .press-news-section .col .d-flex {
    white-space: nowrap;
    margin-bottom: 2vh;
  }
}

hr {
  margin-top: 12vh;
}
@media (max-width: 767px) {
  hr {
    margin-top: 5vh;
  }
}

.download-app-section {
  margin-top: 10vh;
}
@media (max-width: 767px) {
  .download-app-section {
    margin-top: 3vh;
  }
}
.download-app-section img {
  width: 10vw;
}
@media (max-width: 767px) {
  .download-app-section img {
    width: 14vh;
  }
}
.download-app-section .col:first-child {
  display: flex;
  flex-direction: column;
}
.download-app-section .col {
  display: flex;
  justify-content: end;
  flex-direction: row;
}
@media (max-width: 767px) {
  .download-app-section .col {
    flex-direction: column;
  }
}
.download-app-section .btn {
  white-space: nowrap;
  padding: 12px;
  height: 6vh;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 1vw;
  font-size: 17px;
  box-shadow: 0px 10px 10px 0.5px rgba(0, 0, 0, 0.1);
  margin-top: auto;
  margin-bottom: auto;
  background-color: #ff5634;
}
@media (max-width: 767px) {
  .download-app-section .btn {
    margin-bottom: 2vh;
  }
}
.download-app-section p {
  color: #7a7a7a;
  font-weight: 500;
  margin-top: 3vh;
}
.download-app-section .fa {
  margin-right: 1vh;
  font-size: 2.5vh;
}

.footer {
  margin-top: 10vh;
}
.footer h6 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3vh;
}
@media (max-width: 767px) {
  .footer h6 {
    margin-top: 5vh;
  }
}
.footer p {
  color: #7a7a7a;
  font-weight: 500;
}
.footer .col-sx-12 .d-flex h6 {
  margin-top: auto;
  margin-bottom: auto;
}/*# sourceMappingURL=style.css.map */